<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Hello World!
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Hi, I'm <strong>Justin Martin.</strong> I currently work as a Strategic Research Associate for EPB in Chattanooga, TN. My educational background is in Business Finance, but I've grown a strong interest in data and analytics. Right now, I'm working on my Master's in Analytics at Georgia Tech. I also have a role as a Lead Backend Developer for CD Techies, which is about helping tech professionals from diverse backgrounds.
            </div>
    </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Goal
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                My goal with this website is to valuable resources for those who are interested in learning more about Data Science and general tech topics. I will be posting my projects and tutorials on this site. I will also be posting my resume and contact information for those who are interested.
            </div>
        </div>
    </div>
</div>