<nav class="navbar navbar-expand-xxl navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Justin's Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href=/{{ current_page }}>{{ current_page }}</a>
        {% for page in other_pages %}
          <a class="nav-link" href=/{{ page }}>{{ page }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>