{% extends "base.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block style %}
<style>
    /* Generic styles */
    .blog-post-title {
        margin-top: 50px;
    }
    .blog-post-meta {
        margin-bottom: 50px;
        color: gray;
    }
    .blog-post-content {
        margin-bottom: 50px;
        overflow-x: auto; /* Handle horizontal overflow */
    }
    .blog-image {
        max-height: 400px;
        max-width: 95%; /* Ensure images don't exceed their container's width */
    }
    .container-xs {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    /* Responsive tables */
    .blog-post-content table {
        width: 100%;
        overflow: auto;
    }

    /* Code blocks, if they exist */
    .blog-post-content pre {
        overflow-x: auto;
    }

    /* Mobile-specific styles */
    @media (max-width: 768px) {
        .blog-post-content {
            padding: 0 !important;
        }
        .body {
            overflow: hidden;
            width: 100%;
        }
    }

</style>

{% endblock %}

{% block content %}
<div class="container-xs">
    
    <div class="blog-post-title">
        <h2>{{ project.title }}</h2>
    </div>
    
    <div class="blog-post-meta">
        <p>{{project.date}}</p>
    </div>
    
    <div class="thumbnail-image"> 
        <img class = "img-fluid blog-image mx-auto d-block" src="{{project.image.url }}"></img>
    </div>

    <hr></hr>
    <div class="blog-post-content">
        <p>{{ project.content|safe }}</p>
    </div>

</div>
{% endblock %}
