{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block style %}
    .profile-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .animated-text {
        display: inline-block;
        animation: fade-up 1.0s ease-in-out forwards;
        opacity: 0;
    }
    
    @keyframes fade-up {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @media (max-width: 768px) {
        .arrow-container {
            display: none;
        }
    }
    
{% endblock %}

{% block content %}
<div class="position-relative text-center">
    <div class="position-relative text-center bg-primary py-5">
        <h1 class="display-1 text-white" style="line-height: 8;">
            <span id="animText"></span>
        </h1>
        <a href="#about-me">
        <div class="arrow-container">
            <i class="fas fa-arrow-down text-white"></i>
        </div>  
        </a>
    </div>
</div>

<div class="container py-5">
    <div class="row align-items-center">
        
        <div class="col-md-4 text-center mb-4 mb-md-0">
            <img src="https://media.licdn.com/dms/image/D4E03AQE4-7Nr5yNmjA/profile-displayphoto-shrink_400_400/0/1693420288525?e=1698883200&v=beta&t=9eS5fzg5bB1I_GUF4RlG9ix0n94mt4TXssX_pCEBmXs" class="profile-image img-fluid rounded-circle mb-3" alt="profile picture">
        </div>
        
         
        <div class="col-md-8">
            <h2 class="mb-3" id="about-me">Meet Justin Martin</h2>
            <p class="mb-4">
                Hello! I'm a dedicated data enthusiast with a background in Python, SQL, Finance, Excel, Power Apps, and more. 
                My academic journey began at The University of Tennessee: Chattanooga, where I earned an undergraduate degree in Finance. 
                Now, I'm advancing my data science expertise at Georgia Tech through the Online Master of Science in Analytics (OMSA) program. 
                I believe in making data-driven decisions, and solving problems. 
                This website functions as both a portfolio and helpful resource for others on their tech journey. If any questions arise or you'd simply like to connect, please don't hesitate to reach out!
            </p>
        </div>
    </div>
</div> 
{% endblock %}

{% block script %}
<script>
    const texts = [{% for text in texts %}"{{ text }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
    let currentTextIndex = 0;
    const animTextElement = document.getElementById("animText");

    function changeText() {
        // Reset animation
        animTextElement.classList.remove('animated-text');
        void animTextElement.offsetWidth; // Trick to force a reflow

        animTextElement.innerHTML = texts[currentTextIndex];
        animTextElement.classList.add('animated-text');

        currentTextIndex = (currentTextIndex + 1) % texts.length; // Loop through texts
    }

    setInterval(changeText, 1500); // Change text every 1.5 seconds
    changeText(); // Initial call to set the first text
</script>
{% endblock %}
