{% extends "base.html" %}
{% block title %}Sign In{% endblock %}

<style>
{% block style %}
{% endblock %}
</style>
{% block content %}
  <!-- Section: Design Block -->
<div class="bg-dark" style="min-height: 49em;">
<section>
  <!-- Jumbotron -->
  <div style="padding-top: 2%;"></div>
  <div class="px-4 py-5 px-md-5 text-center text-lg-start border rounded mx-auto" style="max-width: 70%;">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Welcome Back<br />
            <span class="text-primary">enter that info</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            I'm glad you're back. I hope you enjoy the resources I've created. If you have any questions, please feel free to contact me.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form method="post">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Jumbotron -->
  
</section>
</div>
{% endblock %}  
{% block script %}
{% endblock %}
     
