{% extends "base.html" %}
{% block title %}Sign In{% endblock %}

<style>
{% block style %}
{% endblock %}
</style>
{% block content %}
  <!-- Section: Design Block -->
<div class="bg-dark" style="min-height: 49em;">
<section>
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start bg-dark">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Create an account<br />
            <span class="text-primary">get bonus resources</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            My bonus resources are free to use, but you must create an account to access them. That's just how it is.
            Don't worry, I won't spam you with emails. I don't even have a newsletter. I'm just a guy who likes to code.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form method="POST">
                {% csrf_token %}
                <!-- Django form fields -->
                <div class="row">
                  {% for field in form %}
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <legend class="col-form-label">{{ field.label }}</legend>
                        {{ field }}  <!-- This renders each form field, including <input> tags -->
                        <!-- Django form fields include their own <input> tags, so you don't need to add an <input> tag yourself. -->
                        <!-- The 'label' tag for a Django form field renders a <label> with proper 'for' attribute. -->
                        <!-- This renders the <label> for the form field -->
                        {% if field.errors %}
                          <!-- This is where you might render the field's error messages -->
                          {% for error in field.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Jumbotron -->
  
</section>
</div>
{% endblock %}  
{% block script %}
{% endblock %}
     
