<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Skills?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Tech Multitool</strong> Excel? That's my playground! 📊 And when it comes to coding? Let's just say my scripts speak louder than words. 🚀🐍 Armed with sought-after arsenals like Python, SQL, the Microsoft Office Suite, Power Apps, and beyond! Currently honing my prowess at Georgia Tech's Masters in Analytics program - and believe me, I'm just getting started. Every day's a new challenge, and I'm here for it!
            </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Creativity?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Idea Generator</strong> Driven by an insatiable curiosity 🧠, I'm forever diving into fresh ideas and pioneering concepts. My quest? Constant betterment and innovation. Risk? To me, it's just another word for a valuable lesson waiting to unfold.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collaboration & Teamwork?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong> Together We Thrive </strong> Building bridges, not walls 🌉. My journey has taught me that the most impactful achievements often stem from collective effort. Whether I'm leading the charge or supporting from the sidelines, fostering harmonious collaborations and nurturing a spirit of teamwork is always top of mind.
            </div>
        </div>
    </div>
</div>