<div class="position-relative text-center">
    <div class="position-relative text-center bg-primary py-5">
        <h1 class="display-1 text-white" style="line-height: 5;">
            <span id="animText"></span>
        </h1>
    </div>
</div>

<script>
    const texts = [{% for text in texts %}"{{ text }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
    let currentTextIndex = 0;
    const animTextElement = document.getElementById("animText");

    function changeText() {
        // Reset animation
        animTextElement.classList.remove('animated-text');
        void animTextElement.offsetWidth; // Trick to force a reflow

        animTextElement.innerHTML = texts[currentTextIndex];
        animTextElement.classList.add('animated-text');

        currentTextIndex = (currentTextIndex + 1) % texts.length; // Loop through texts
    }

    setInterval(changeText, 1500); // Change text every 1.5 seconds
    changeText(); // Initial call to set the first text
</script>

<style>
.animated-text {
    display: inline-block;
    animation: fade-up 1.0s ease-in-out forwards;
    opacity: 0;
}

@keyframes fade-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

</style>
