{% extends "base.html" %}

{% block title %}Account{% endblock %}


{% block style %}
    /* Mobile styles */
    @media (max-width: 768px) {  /* This is a commonly used breakpoint for tablets and mobiles */
        .mobile-only {
            display: block;
        }
    }
    @media (min-width: 768px) {  /* This is a commonly used breakpoint for tablets and mobile */
        .mobile-only {
            display: none;
        }
        .avatar-select:hover {
          transform: scale(0.95); /* scales the avatar down a bit */
          opacity: 0.7;          /* makes the avatar slightly transparent */
          transition: transform .15s ease-in-out, opacity .15s ease-in-out;
        }
    
        .avatar-select:active {
          transform: scale(0.90); /* scales the avatar down a bit more */
          opacity: 0.5;          /* makes the avatar slightly more transparent */
          transition: transform .15s ease-in-out, opacity .15s ease-in-out;
      }
    }
    .main-container {
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding: 2%;
        background-color: #f8f9fa;
        border-radius: 10px;
    }



{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{ avatar_url }}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">Username: {{ user.username }}</h5>
              <p class="text-muted mb-1"></p>
              <p class="text-muted mb-4"></p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-danger">Delete Account</button>
                <button type="button" class="btn btn-primary ms-2">Change Password</button>
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body" style="display: none;">
              <h3>Sure you want to do that?</h1>
                <button type="button"class="btn btn-danger">Yes</button>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <h1>Change Avatar</h1>
              <div class="row">
                {% for avatar in avatars %}
                <div class="col-3 col-sm-3">
                    <form method="post">
                        {% csrf_token %}
                        <img src="{{ avatar.image.url }}" class="img-fluid my-2 me-2 avatar-select" style="border-radius: 50%;" alt="avatar"></image>
                        <input type="hidden" name="selected_avatar" value="{{ avatar.pk }}">
                            <button type="submit" class="btn btn-primary mobile-only">Select</button>
                    </form>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
              </div>
              
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </section>

{% endif %}

{% block script %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const avatarImages = document.querySelectorAll(".avatar-select");

    if (!avatarImages.length) {
        console.warn("No avatars found!"); // This will print a warning if no avatars are found.
        return;
    }

    avatarImages.forEach(img => {
        img.addEventListener("click", function(event) {
            if(!window.matchMedia("(max-width: 768px)").matches) { 
                const submitButton = this.parentElement.querySelector('button[type="submit"]');
                if (submitButton) {
                    submitButton.click();
                } else {
                    console.warn("Submit button not found!"); // This will print a warning if the submit button is not found.
                }
            }
        });
    });
});
</script>

{% endblock %}

{% endblock %}



